.formContainer{
    height: fit-content;
    text-align: center;
    width: 30rem;
    background-color: rgb(39, 39, 39);
    border-radius: 20px;
}
@media only screen and (max-width: 767px) {
    .formContainer {
        height: 30%;
    }
}